<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <title>PLAN-IT</title>
  <meta name="description" content="PLAN-IT">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  {{> header }}
    <h2>Dit is de indexpagina</h2>
  {{> footer }}
  <script src="js/auth.js"></script>
</body>
</html>