<footer>
    <div class="footer-item">
        <p>Ontworpen door het PLAN-IT team</p>
    </div>

    <div class="footer-item">
        
    </div>

    <div class="footer-item">
        <p>Links</p>
        {{> menu }}
    </div>
</footer>