<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/projects">Alle projecten</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/loginregister">Login/ registreer</a></li>
</ul>