<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <title>PLAN-IT</title>
  <meta name="description" content="PLAN-IT">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        {{> header }}
        <main class="content">
            <h1>Contact</h1>
            <form method="POST" id="contactForm">
                <label for="name">Uw naam</label>
                <input type="text" id="name" name="name"><br>
                <label for="surname">Uw familienaam</label>
                <input type="text" id="surname" name="surname"><br>
                <label for="E-mail">Email</label>
                <input type="email" id="email" name="E-mail">
                <label for="question">Uw vraag/ opmerking</label>
                <textarea name="question" id="question"></textarea>
                <input type="submit" value="Verzend uw bericht">
            </form>
            <p id="contact-success">Het bericht is succescvol verstuurd, U ontvangt dadelijk nog een bevestigingsmail.</p>
            <p id="contact-error">Het bericht kon niet verstuurd worden. Gelieve later opnieuw te proberen.</p>
        </main>
        {{> footer }}
        <script src="js/contact.js"></script>
    </body>
</html>