<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <title>PLAN-IT</title>
  <meta name="description" content="PLAN-IT">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        {{> header }}
        <main class="content">
            <section id="banner">
                <h1>PLAN-IT</h1>
                <p>Groepswerken gemakkelijk organizeren.</p>
            </section>
            <div id="content-block-container">
            <section class="content-block">
                <h2>Wat doen we?</h2>
                <p>Wij maken het voor studenten in het hoger onderwijs gemakkelijker om hun groepsprojecten bij te houden op één plaats. Want we kennen het allemaal dat het ene groepswerk een chat heeft op discord en de andere op messenger. Wij willen deze functionaliteit samen met een kalender. Scrum board en nog veel meer aanbieden.</p>
            </section>

            <section class="content-block">
                <h2>Wij zijn we?</h2>
                <p>Wij zijn een groep studenten, die zich vaak frustreerden aan het feit dat we soms de organisatie van onze groepswerken verloren waren. Daarom hebben wij dit platform ontwikkeld.</p>
            </section>
            </div>
        </main>
        {{> footer }}
    </body>
</html>