<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <style>
            .structural {
                position: absolute;
                left: -9999px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>logo</h1>
            <nav>
                <h2 class="structural">Hoofdnavigatie</h2>
                <ul>
                    <li><a href="" title="Home">Home</a></li>
                    <li><a href="" title="About us">About us</a></li>
                    <li><a href="" title="Contact">Contact</a></li>
                    <li><a href="" title="Login/Register">Login/Register</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <p id="foto1">foto 1</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </div>
            
            <div>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
                <p id="foto2">foto 2</p>
            </div>
        </main>
        <footer>
            <p>©Jonathan, Louis, Moïse</p>
            <p>logo facebook</p>
            <p>logo twitter</p>
        </footer>
    </body>
</html>