/*HIDE ALL FORMS AND EXTRAS*/
#create-new-project, #project-details, #project-chat, #project-scrum, #project-settings, #project-calander{
    display: none;
}

#new-project-success, #new-project-error{
    display: none;
}

#new-task, #edit-task{
    display: none;
}

#new-deadline-success, #new-deadline-error, #update-deadline-success, #update-deadline-error{
    display: none;
}

#newDeadline, #updateDeadline{
    display: none;
}
/*--------------------------------------------------HELE SITE-----------------------------------------------------------*/
body{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    height: 100%;
}
.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 15rem;
    position: relative;
}


header{
    background-color: #d1cec7;
    padding: 1rem;
    margin-left: -1rem;
    margin-top: -1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav{
    width: 55%;
    float: right;
    margin-left: 37rem;
}

nav ul li{
    margin-left: 5rem;
    float: left;
    list-style: none;
    font-size: 1.1rem;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ffffff;
    font-size: 1.2rem;
}

nav ul li a{
    text-align: center;
    text-decoration: none;
    color: #484848;
}

.logo{
    font-size: 1.3rem;
    font-weight: bold;
    color: #484848;
    margin-left: 2rem;
    text-decoration: none;
}

footer{
    background: #d1cec7;
    margin-top: 1rem;
    overflow: hidden;
    left: 0;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-item:nth-child(1){
    margin-top: 3rem;
    margin-left: 5rem;
    text-align: left;
    float: left;
}

.footer-item:nth-child(2){
    text-align: center;
}

.footer-item:nth-child(3){
    text-align: left;
    float: right;
    margin-right: 5rem;
}

.footer-item:nth-child(3) ul li{
    list-style: none;
    margin-left: -2.5rem;
    margin-top: 0.3rem;
}

.footer-item:nth-child(3) ul li a{
    text-decoration: none;
    color: #484848;
}

.footer-item:nth-child(3) ul li a:hover{
    color: #ffffff;
}

label, input, select{
    display: block;
}

label{
    margin-top: 0.35rem;
    color: #484848;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea{
    line-height: 1.4rem;
    border: 1px solid #484848;
    border-radius: 4px;
    width: 20rem;
    margin-top: 0.5rem;
}

input[type="submit"]{
    background-color: aquamarine;
    border: 1px solid #484848;
    border-radius: 4px;
    height: 1.25rem;
    width: 12rem;
    margin-top: 2rem;
}

input[type="submit"]:hover{
    background-color: #484848;
    color: white;
}

textarea{
    height: 7rem;
}

/*------------------------------------------------- PROJECTS-----------------------------------------------------------*/
#all-projects-overview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.project{
    width: 21%;
    height: 15rem;
    margin-top: 1rem;
    background-color: aquamarine;
    border: 1px solid #484848;
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
    align-self: flex-start;
}

#add-new-project{
    font-size: 1.15rem;
}

.project:hover{
    background-color: azure;
}

#add-new-project:hover{
    background-color: azure;
}

.action{
    width: 7rem;
    height: 7rem;
    background-color: aquamarine;
    border: 1px solid #484848;
    border-radius: 4px;
    margin-left: 1rem;
}

.action i{
    font-size: 1.35rem;
}

.action:hover{
    background-color: azure;
}

.goback{
    height: 2rem;
    background-color: aquamarine;
    border: 1px solid #484848;
    border-radius: 4px;
}

.goback:hover{
    background-color: azure;
}

#create-new-project, #new-task, #edit-task, #newDeadline, #updateDeadline{
    position: absolute;
    z-index: 9999;
    width: 30rem;
    height: 31rem;
    top: 5rem;
    left: 25rem;
    padding: 2.25rem;
    border: 1px solid #484848;
    border-radius: 4px;
    background-color: whitesmoke;
}

#edit-task{
    height: 40rem;
}

#createNewProject, #addTask, #editTask, #updateDeadlineForm{
    margin-left: 5rem;
}

#createNewProject input[type="submit"]{
    width: 15rem;
    height: 2rem;
    margin-left: 5.5rem;
}

.close{
    font-size: 2rem;
    margin-left: 28rem;
}

#new-task-success, #new-task-error{
    display: none;
}

#addTask textarea{
    height: 3.5rem;
}

#addTask input[type="submit"], #editTask input[type="submit"]{
    margin-left: 14rem;
}

#project-scrum-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scrum-container{
    width: 20%;
}

.edit, .delete{
    margin-left: 0.5rem;

}

.edit, .delete{
    background-color: aquamarine;
    border: 1px solid #484848;
    padding: 0.25rem;
    border-radius: 4px;
}

.edit:hover{
    background-color: green;
    color: white;
}

.delete:hover{
    background-color: indianred;
    color: white;
}

.addButton{
    margin-top: 1rem;
    display: block;
    width: 15rem;
    height: 2rem;
    background-color: aquamarine;
    border: 1px solid #484848;
    border-radius: 4px;
}

.addButton:hover{
    background-color: #484848;
    color: white;
}

#edit_settings input[type="text"], #edit_settings input[type="email"], #edit_settings textarea{
    margin-bottom: 1.05rem;
    width: 45rem;
}

#edit_settings input[type="submit"]{
    width: 10rem;
    height: 2rem;
    margin-left: 35rem;
}

#deleteProject{
    background-color: indianred;
    color: white;
    width: 10rem;
    height: 2rem;
}

#deleteProject:hover{
    background-color: #484848;
}

.chatScreen{
    width: 50rem;
    height: 25rem;
    margin-left: 15rem;
}

.low, .medium, .high, .vhigh{
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

.low{
    background-color: lightgreen;
}

.medium{
    background-color: yellow;
}

.high{
    background-color: orange;
}

.vhigh{
    background-color: red;
}

/*------------------------------------------------- LOGIN REGISTER -----------------------------------------------------------*/
#logreg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form{
    width: 40%;
    padding: 3.5rem;
    background-color: #e8e6e6;
    margin-left: -1rem;
}

/*------------------------------------------------- CONTACT -----------------------------------------------------------*/
#contactForm input[type="text"], #contactForm input[type="email"], #contactForm textarea{
    margin-bottom: 0.75rem;
    width: 45rem;
}

#contactForm input[type="submit"]{
    width: 10rem;
    height: 1.5rem;
    margin-left: 35rem;
}

#contactForm{
    margin-left: 15rem;
}

#contactForm textarea{
    height: 4rem;
}

#contact-success, #contact-error{
    display: none;
    text-align: center;
}

#contact-success{
    padding: 1rem;
    border: 1px solid #484848;
    border-radius: 4px;
    background-color: lightgreen;
    margin-top: 12.5rem;
}

/*------------------------------------------------- INDEX -----------------------------------------------------------*/
#banner{
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    padding: 1.25rem;
}

#content-block-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-block{
    width: 45%;
}

/*------------------------------------------------- 404 -----------------------------------------------------------*/
#not-found-page{
    text-align: center;
    font-size: 2.2rem;
    color: #484848;
}

#sub-title{
    text-align: center;
    font-size: 1.5rem;
    color: #484848;
}

#status-code{
    margin-top: 9rem;
    font-size: 5rem;
    text-align: center;
    color: #484848;
}
