<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <title>PLAN-IT</title>
  <meta name="description" content="PLAN-IT">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  {{> header }}
    <section class="content">
        <h2>Dit is de loginpagina</h2>
        <div id="login">
        <form id="loginForm" method="POST">
            <label for="loginUName">Gebruikersnaam/emailadres</label>
            <input type="text" id="loginUName" placeholder="gebruikersnaam/emailadres">
            <label for="loginPassword">Wachtwoord</label>
            <input type="password" id="loginPassword">
            <input type="submit" id="loginSubmit" value="Login">
        </form>
        </div>
        <div id="register">
        <form id="registerForm" method="POST">
            <input type="text" id="username" placeholder="gebruikersnaam">
            <input type="email" id="email" placeholder="emailadres">
            <input type="text" id="school_name" placeholder="school name">
            <input type="password" id="password1" placeholder="wachtwoord">
            <input type="password" id="password2" placeholder="herhaal wachtwoord">
            <input type="submit" name="" id="registerSubmit" value="Registreer">
        </form>
        </div>
    </section>
  {{> footer }}
  <script src="js/loginregister.js"></script>
</body>
</html>